@use '/styles/Mixins';

.wrapper{
    width: 100%;
    height: 100dvh;
    background: var(--secondary-color);
    position: fixed;
    z-index: 190;
    padding-inline: 1.6rem;
    @include Mixins.flexPos(center, center);
    transform: translateY(-100%);
    transition: transform .6s;

    &.isActive{
        transform: translateY(0);

        .container{
            .link_wrapper{
                .link_container{
                    .main_link,
                    .sec_link{
                        transform: translateY(0);
                    }

                    .main_link{
                        transition-delay: .6s;
                    }
                    .sec_link{
                        transition-delay: .8s;
                    }
                }
            }
        }
    }

    .container{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 3.4rem;
        @include Mixins.flexPos(center,flex-end);

        .link_wrapper{
            @include Mixins.flexPos(flex-end,center);
            gap: 2rem;

            .link_container{
                @include Mixins.flexPos(center, center);
                overflow: hidden;

                .main_link{
                    @include Mixins.flexPos(flex-end,center);
                    gap: .8rem;
                    @include Mixins.fontOpt(var(--secondary-font-bold), var(--paragraf-lg), var(--tertier-color));
                    transform: translateY(100%);
                    transition: transform .6s;

                    svg{
                        width: 2.4rem;
                        height: 2.4rem;

                        path{
                            fill: var(--tertier-color);
                        }
                    }
                }

                .sec_link{
                    @include Mixins.fontOpt(var(--secondary-font-regular), var(--paragraf-md), var(--tertier-color));
                    text-decoration: underline;
                    transform: translateY(100%);
                    transition: transform .6s;
                }
            }
        }
    }
}

@include Mixins.responsive(min-width, 1024px){
    .wrapper{
        padding-inline: 6.4rem;
        .container{
            .link_wrapper{
                gap: 4.2rem;
                .link_container{
                    .main_link{
                        @include Mixins.fontOpt(var(--secondary-font-bold), var(--header-md), var(--tertier-color));

                        svg{
                            width: 3.2rem;
                            height: 3.2rem;
                        }
                    }
                    .sec_link{
                        @include Mixins.fontOpt(var(--secondary-font-regular), var(--paragraf-xl), var(--tertier-color));
                    }
                }
            }
        }
    }
}